<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1mdyJh72yhp3MKRYhznc5TkGDHimXE-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>202035267098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.streamMate</string>
	<key>PROJECT_ID</key>
	<string>stream-mate</string>
	<key>STORAGE_BUCKET</key>
	<string>stream-mate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202035267098:ios:76b540400d044618f373a3</string>
</dict>
</plist>